body, html {
    background-color: rgb(44, 41, 41);
    color: antiquewhite;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color: black;
}

.btn {
    margin-right: 10px;
}

.player {
    margin: 20px;
}

.title {
    background-color: transparent;
    color: red;
}




